<div class="turn">
  {{ whiteTurn() ? "White turn": "Black turn"}}
</div>
<div>
  {{ inCheck() }}
</div>
<button (click)="resetBoard()">New Game</button>

@if (activeModal()) {
  <div class="promotion-modal">
    @for (piece of promotionPieces; track $index) {
      <img
        [src]="'../assets/' + promotionColor() + piece + '.svg'"
        [alt]="piece"
        class="promotion-piece"
        (click)="promotePawn(piece)"
      />
    }
  </div>
}

<div class="board">
  @for (row of squares(); track $index; let r = $index) 
  {
    <div class="row">
      @for (cell of row; track $index; let f = $index) 
      {
        <div 
          class="square" 
          [class.light]="(r + f) % 2 === 0" 
          [class.dark]="(r + f) % 2 !== 0" 
          [class.selected]="isSelected(r,f)"
          (click)="onSquareClick(r, f)">
          @if(cell) {
            <img [src]="'../assets/' + cell + '.svg'" [alt]="cell" class="filter piece" />
          }
          @if (isLegalMove(r, f) && !cell) {
            <div class="legal-dot"></div>
          }
          @if (isLegalMove(r, f) && cell) {
            <div class="legal-capture"></div>
          }
        </div>
      }
    </div>
  }
</div> 