.board {
  border: 1px solid black;
  width: fit-content;
  justify-self: center;
}

.row {
  display: flex;
}

.piece {
  height: 100%;
  width: 85%;
  display: block;
  justify-self: center;
}

.piece:hover {
  cursor: grab;
}

.filter::selection {
  background-color: black;
}

.light {
  background-color: rgb(238, 238, 210);
}

.dark {
  background-color: rgb(118, 150, 86);
}

.square {
  height: 5rem;
  width: 5rem;
}