@if (gameStatus() === 'CHECKMATE') { 
  <div class="checkmate-modal">
    Checkmate!<br>{{ whiteTurn() ? 'Black' : 'White' }} wins! 
    <div>
      <button class="restart-btn" (click)="resetBoard()">New Game</button>
  </div>
  </div>
}
@if (gameStatus() === 'STALEMATE') { 
  <div class="stalemate-modal">Draw! <br/>By stalemate</div>
}
@if (activeModal()) {
  <div class="promotion-modal">
    @for (piece of promotionPieces; track $index) {
      <img
        [src]="'../assets/' + promotionColor() + piece + '.png'"
        [alt]="piece"
        class="promotion-piece"
        (click)="promotePawn(piece)"
      />
    }
  </div>
}

<div class="board">
  @for (row of squares(); track $index; let r = $index) { 
    <div class="row">
      @for (cell of row; track $index; let f = $index) {
        <div 
          class="square" 
          [class.light]="(r + f) % 2 === 0" 
          [class.dark]="(r + f) % 2 !== 0" 
          [class.in-check]="isKingInCheck(r, f)"
          (click)="onSquareClick(r, f)">
          <span class="file coordinates">
            @if (f == 0 && r >= 0 && r < 8) {
              {{ 8 - r }}
            }
          </span>
          <span class="rank coordinates">
            @if (r == 7 && f >= 0 && f < 8) {
              {{ ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'][f] }}
            }
          </span>
          @if(cell) {
            <img [src]="'../assets/' + cell + '.png'" [alt]="cell" class="filter piece" />
          }
          @if (isLegalMove(r, f) && !cell) {
            <div class="legal-dot"></div>
          }
          @if (isLegalMove(r, f) && cell) {
            <div class="legal-capture"></div>
          }
        </div>
      }
    </div>
  }
</div> 