.notations-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notations-header {
  align-self: center;
}

.notations-list {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px 0;
  padding: 12px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

.moves-header {
  font-weight: bold;
  color: grey;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

.moves-number {
  color: #7b7875;
}

.move-cell {
  padding-left: 4px;
}