<div class="notations-container">
  <div class="notations-header">
    Play
  </div>
  <div class="notations-opening-name">
    Opening name
  </div>
  <div class="notations-list">
    <div class="moves-header"></div>
    <div class="moves-header"></div>
    <div class="moves-header"></div>

    @for (row of notationRows(); track row.turn) {
      <div class="turn-number">{{ row.turn }}.</div>
      <div class="move-cell">{{ row.white }}</div>
      <div class="move-cell">{{ row.black }}</div>
    }
  </div>
</div>