<div class="notations-container">
  <div class="notations-header">
    Play
  </div>
  <div class="notations-opening-name">
  </div>
  <div class="moves-header">
    <div>#</div>
    <div><img src="assets/wK.png" alt="white king"/></div>
    <div><img src="assets/bK.png" alt="white king"/></div>
  </div>
  <div class="notations-list" #scrollDown>
    @for (row of notationRows(); track row.turn) {
      <div class="move-container">
        <div class="turn-number">{{ row.turn }}.</div>
        <div class="move-cell">{{ row.white }}</div>
        <div class="move-cell">{{ row.black }}</div>
      </div>
    }
  </div>
</div>