.board-main-layout {
  position: relative;
  width: fit-content;
  justify-self: center;
  align-content: center;
}

.player-top .player-bottom {
  flex-shrink: 0;
  height: 4rem;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.restart-btn {
  width: 100%;
  min-height: auto;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid rgb(226, 222, 222);
  background: linear-gradient(45deg, #4a4e69 24%, #9a8c98 79%);
  font-size: larger;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.restart-btn:hover {
  cursor: pointer;
}