.player-container {
  display: block;
}

.player-wrap {
  display: flex;
  height: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.player-avatar {
  margin-right: 1rem;
  overflow: hidden;
  position: relative;
  background-color: #22223b;
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 8px;
  align-self: center;
}

.player-avatar>img {
  height: 2.2rem;
  padding: 0.25rem;
}

.player-info-container {
  display: flex;
  flex-direction: column;
}

.player-info {
  display: flex;
  padding: 5px 0px;
}

.player-name {
  margin: 0;
  padding: 0;
  max-width: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: x-large;
}

.captured-pieces {
  display: flex;
  width: 2rem;
  height: 2rem;
  opacity: 0.8;
}