<div class="player-container">
  <div class="player-wrap">
    <div class="player-avatar">
      <img src="assets/basic-player-avatar.png"/>
    </div>
    <div class="player-info-container">
      <div class="player-info">
        <div class="player-name">
          {{ playerName }}
        </div>
      </div>
      <div class="captured-pieces">
        @for (piece of capturedPieces; track $index) {
          <img [src]="'assets/' + piece + '.png'" [alt]="piece" class="captured-piece"/>
        }
      </div>
    </div>
  </div>
</div>